@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: "Montserrat";
}

.heading {
  overflow: hidden;
}

.heading::before {
  clip-path: polygon(0 0, 100% 0, 75% 100%, 25% 100%);
}